<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
<header th:replace="fragments/commons::navigation"></header>
    <div class="about">
        <div></div>
        <div>
            <h2 style="text-align:center">About us</h2>
            ORIGINAL GIFTS AND SOUVENIRS FROM EUPHORIA-GIFTS Hello friends!
            We welcome you to the newest store from the EUPHORIA-GIFTS chain -
            an electronic store for original gifts, souvenirs and home decoration
            euphoria-gifts.bg! We are ready to inspire you with the choice, for
            which we have a wide assortment of diverse products. Especially for you,
            we have selected a wide assortment of household items and home decorations,
            decorative figurines, statuettes and holiday decorations. We offer you more
            stylish additions to the interior: photo frames, wall clocks, decorative
            fabrics, paintings, fruit bowls and other serving accessories. A special
            place in the categories of our site is occupied by stylish dining sets and
            glasses made of crystal, ceramics and porcelain. With them, you will always
            be ready to welcome guests and welcome them into the pleasant atmosphere of
            your home. Only in the online store for original gifts and souvenirs,
            euphoria-gifts.bg, you will find high-quality products from fine, handmade
            Chinese porcelain in limited series - an original wedding surprise or a gift
            for a business partner. Among the ideas for original gifts and souvenirs on the site,
            you will find suitable for the following occasions: graduation, birthday, name day,
            anniversary, baptism, wedding, etc. Our online store will give you the opportunity
            to look at and compare different options, so that you can honestly make the desired
            choice. Gift and souvenir shop in Sofia The most important thing we want to provide
            you with is the mood - the opportunity to give a smile to your loved ones. We will
            try to help you with advice and ideas for original gifts and souvenirs, as well as
            with unique offers for combined delivery together with flowers and sweets. Our
            several physical stores in Sofia are located in large shopping centers and shopping
            streets. This is an additional convenience that we want to offer to those customers
            who like to shop in person and on the spot. The variety of original and unique
            souvenirs and gifts is impressive. We will be happy to help you navigate through
            it and choose the most suitable thing to surprise a relative, friend or colleague.
            A good knowledge of the items is the basis of the trust that customers give us when
            they need advice. We will gladly recommend and discuss an item with you to ensure that
            it is exactly what you are looking for as a gift. The Euphoria-Gifts e-shop team wishes
            you a pleasant shopping experience!
        </div>
        <div></div>
    </div>

</div>

</body>
<footer th:replace="fragments/commons::footer"></footer>
</html>