<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>
<main class="p-5 align-content-center bg-blur my-main">
    <section class="middle-section">
        <div class="middle-left text-light">
            <p class="upper-p">Home / Locations / Yuri Gagarin str.</p>
            <h2 class="text">Yuri Gagarin str.</h2>
            <p class="address-info"><i class="fas fa-map-marker-alt"></i>1 Yuri Gagarin str.,<br> Pernik 2300, Bulgaria
            </p>
            <p class="address-info"><i class="fas fa-phone"></i>+359 898 654 321</p>
            <p class="address-info"><i class="far fa-clock"></i>Open 9:30am-10:00pm <br>Call for current hours</p>
            <p class="address-info"><i class="far fa-envelope"></i>euphoria@gifts.bg</p>
            <a href="mailto: euphoriaGifts@gmail.com" class="btn btn-primary active">SEND AN EMAIL<i
                    class="fas fa-chevron-right"></i></a>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="middle-right">
                <img src="/images/contacts.jpg" alt="">
            </div>
        </div>
    </section>
    <div class="middle-down">
        <img src="/images/location.PNG" alt="">
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>