<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>
<main class="p-5 bg-blur text-center my-register-div">
<div class="container-fluid">
    <h1 class="text-center text-light mt-5">Welcome to Stats!</h1>
    <h3 class="text-center text-light mt-5">Total Requests <th:block th:text="${stats.getTotalRequests()}"></th:block></h3>
    <h3 class="text-center text-light mt-5">Anonymous Requests <th:block th:text="${stats.getAnonymousRequests()}"></th:block></h3>
    <h3 class="text-center text-light mt-5">Authorized Requests <th:block th:text="${stats.getAuthRequests()}"></th:block></h3>

</div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>