<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>

<div class="d-flex justify-content-center">
    <div class="wrapper">
        <div class="box text-light">
            <h1>500</h1>
            <h3>There is a problem with the resource you are looking for, and it cannot be displayed!</h3>
            <img src="/images/500.jpg">
            <p><a href="/">Go to Home page</a></p>
        </div>
    </div>
</div>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>