<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>

<div class="row">
    <div class="admin container col">
        <div class="row">
            <div class="container users-container">
                <h1 class="title gold-text">ALL USERS</h1>
                <hr>
                <div class="row">
                    <div class="user row">
                        <div class="prop col-md-1">ID</div>
                        <div class="prop col-md-2">Created</div>
                        <div class="prop col-md-1">First name</div>
                        <div class="prop col-md-1">Last name</div>
                        <div class="prop col-md-2">Email</div>
                        <div class="prop col-md-1">ROLE</div>
                        <div class="prop col-md-1">ROLE</div>
                    </div>
                    <div class="user row" th:each="user:${allUsers}" th:object="${user}">
                        <div class="prop col-md-1" th:text="*{id}">1</div>
                        <div class="prop col-md-2" th:text="*{created}">1</div>
                        <div class="prop col-md-1" th:text="*{firstName}"></div>
                        <div class="prop col-md-1" th:text="*{lastName}"></div>
                        <div class="prop col-md-2" th:text="*{email}"></div>
                        <div class="prop col-md-1" th:each="role:*{roleEnums}" th:text="${role}"></div>
                        <div th:if="*{roleEnums.size()==1}" class="col-md-1"></div>
                        <div th:if="*{roleEnums.size()==1}" class="col-md-2">
                            <form th:action="@{/admin/manage-users/add-admin(email=*{email})}" th:method="PATCH">
                                <button class="small-btn" type="submit">Make admin</button>
                            </form>
                        </div>
                        <div th:if="*{roleEnums.size()>1 and id!=1} " class="col-md-2">
                            <form th:action="@{/admin/manage-users/remove-admin(username=*{username})}" th:method="PATCH">
                                <button class="small-btn-remove" type="submit">Remove admin</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/commons :: footer"></div>

<!--<script src="/js/main.js"></script>-->
</body>
</html>