<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>
<main class="p-5 align-content-center bg-blur my-main">
    <section class="middle-section">
        <div class="middle-left text-light">
            <p class="upper-p">Home / Locations / Yuri Gagarin str.</p>
            <h2 class="text">Yuri Gagarin str.</h2>
            <p class="address-info"><i class="fas fa-map-marker-alt"></i>1 Yuri Gagarin str.,<br> Pernik 2300, Bulgaria
            </p>
            <p class="address-info"><i class="fas fa-phone"></i>+359 898 654 321</p>
            <p class="address-info"><i class="far fa-clock"></i>Open 9:30am-10:00pm <br>Call for current hours</p>
            <p class="address-info"><i class="far fa-envelope"></i>euphoria@gifts.bg</p>
            <a href="mailto: euphoriaGifts@gmail.com" class="btn btn-primary active">SEND AN EMAIL<i
                    class="fas fa-chevron-right"></i></a>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="middle-right">
                <img src="/images/contacts.jpg" alt="">
            </div>
        </div>
    </section>
    <div class="middle-down">
        <img src="/images/location.PNG" alt="">
    </div>
    <!--    <section class="address-location">-->
    <!--&lt;!&ndash;        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.645908214664!2d24.742551515449186!3d42.13646307920253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd1b39ace35e3%3A0x9d6dec2a7969fcb9!2z0YPQuy4g4oCe0JTQvtC60YLQvtGAINCTLiDQnC4g0JTQuNC80LjRgtGA0L7QsuKAnCAzMSwgNDAwMCDQptC10L3RgtGK0YAsINCf0LvQvtCy0LTQuNCy!5e0!3m2!1sbg!2sbg!4v1636046628314!5m2!1sbg!2sbg"&ndash;&gt;-->
    <!--        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.645908214664!2d24.742551515449186!3d42.13646307920253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd1b39ace35e3%3A0x9d6dec2a7969fcb9!2z0YPQuy4g4oCe0JTQvtC60YLQvtGAINCTLiDQnC4g0JTQuNC80LjRgtGA0L7QsuKAnCAzMSwgNDAwMCDQptC10L3RgtGK0YAsINCf0LvQvtCy0LTQuNCy!5e0!3m2!1sbg!2sbg!4v1636046628314!5m2!1sbg!2sbg"-->
    <!--                width="99%" height="500px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
    <!--&lt;!&ndash;    <a href="https://maps.google.com/maps?q=Billa Кв. Изток, Ул. Юрий Гагарин 1, 2300 Перник" rel="noreferrer" target="_blank" data-testid="sidebarAddress" class="sc-4e35cfdd-0 sc-4e35cfdd-5 sc-dSfdvi kblJYD gagkNB gtLref">Кв. Изток, Ул. Юрий Гагарин 1, 2300 Перник</a><a href="https://maps.google.com/maps?q=Billa Кв. Изток, Ул. Юрий Гагарин 1, 2300 Перник" rel="noreferrer" target="_blank" data-testid="sidebarAddress" class="sc-4e35cfdd-0 sc-4e35cfdd-5 sc-dSfdvi kblJYD gagkNB gtLref">Кв. Изток, Ул. Юрий Гагарин 1, 2300 Перник</a>&ndash;&gt;-->

    <!--    </section>-->
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>