<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>
<body>
<div class="left-box" id="yui_3_12_0_1_1659070185860_603">
    <h1 class="header">Лампи</h1>

    <ul class="mm" id="yui_3_12_0_1_1659070185860_602">
        <li class="mm-item level-1 first mm-item-840">
            <a class="title" href="/vazi" rel="nofollow" title="Вази">Вази</a>
        </li>
        <li class="mm-item level-1 mm-item-967">
            <a class="title" href="/kartini-za-doma-comcategory967bg" rel="nofollow" title="Картини за дома">Картини за
                дома</a>
        </li>
        <li class="mm-item level-1 mm-item-898"><
            a class="title" href="/kashpi-i-saksii" rel="nofollow" title="Кашпи и саксии">Кашпи и саксии</a></li>
        <li class="mm-item level-1 mm-item-893"><a class="title" href="/kutii-za-bijuta" rel="nofollow"
                                                   title="Кутии за бижута">Кутии за бижута</a></li>
        <li class="mm-item level-1 mm-item-1131"><a class="title" href="/kutii-za-klyuchove" rel="nofollow"
                                                    title="Кутии за ключове">Кутии за ключове</a></li>
        <li class="mm-item level-1 selected mm-item-896" id="yui_3_12_0_1_1659070185860_601"><a class="title"
                                                                                                href="/lampi"
                                                                                                rel="nofollow"
                                                                                                title="Лампи"
                                                                                                id="yui_3_12_0_1_1659070185860_600">Лампи</a>
        </li>
        <li class="mm-item level-1 mm-item-956"><a class="title" href="/pepelnici" rel="nofollow" title="Пепелници">Пепелници</a>
        </li>
        <li class="mm-item level-1 mm-item-864"><a class="title" href="/ramki-za-snimki-i-albumi" rel="nofollow"
                                                   title="Рамки за снимки и албуми">Рамки за снимки и албуми</a></li>
        <li class="mm-item level-1 mm-item-946"><a class="title" href="/sveshtnici-i-sveshti" rel="nofollow"
                                                   title="Свещници и свещи">Свещници и свещи</a></li>
        <li class="mm-item level-1 mm-item-1063"><a class="title" href="/statuetki" rel="nofollow" title="Статуетки">Статуетки</a>
        </li>
        <li class="mm-item level-1 mm-item-943"><a class="title" href="/cvetya-i-aranjirovki" rel="nofollow"
                                                   title="Цветя и аранжировки">Цветя и аранжировки</a></li>
        <li class="mm-item level-1 last mm-item-901"><a class="title" href="/chasovnici" rel="nofollow"
                                                        title="Часовници">Часовници</a></li>
    </ul>
</div>
</body>
</html>