<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>
<main class="p-5 align-content-center bg-blur my-main">
    <div class="d-flex justify-content-center">
        <section class="middle-content">
            <!--            <div class="search">-->
            <!--                <form th:action="@{/admins}" th:method="POST" class="form-inline">-->
            <!--                    <input th:name="text" name="text" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--                </form>-->
            <!--            </div>-->

            <!--                <div class="col-lg-9 mt-4 mt-lg-0">-->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive mb-0 bg-light p-4 shadow-sm">
                        <table class="table mb-0">
                            <div class="my-table">
                                <thead>
                                <tr>
                                    <th>User's information</th>
                                    <th class="text-center">Role</th>
                                    <th class="action text-right">New role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="userEntities-list" th:each="u : *{allUsers}">
                                    <td class="title">
                                        <div class="candidate-list-details">
                                            <div class="candidate-list-info">
                                                <div class="candidate-list-title">
                                                    <h5 class="mb-0"><p th:text="*{u.username}"></p></h5>
                                                </div>
                                                <div class="candidate-list-option">
                                                    <ul class="list-unstyled">
                                                        <li th:text="*{u.firstName}"><i
                                                                class="fas fa-venus-mars"></i></li>
                                                        <li th:text="*{u.lastName}"><i
                                                                class="fas fa-mobile-alt"></i>
                                                        <li th:text="*{u.email}"><i
                                                                class="fas fa-envelope-open"></i></li>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <div class="test">
                                        <td class="candidate-list-favourite-time text-center">
                                                <span class="candidate-list-time order-1" th:each="r : *{u.roles}"
                                                      th:text="|*{r.name} |"></span>
                                        </td>
                                        <td>
                                            <a th:href="@{/pages/admins/change-role/{id}(id=*{u.id})}"
                                               class="card-link text-primary h6 bold">Change</a>
                                        </td>
                                        <td>
                                            <a th:href="@{/pages/admins/delete-role/{id}(id=*{u.id})}"
                                               class="card-link text-danger h6 bold">Delete</a>

                                        </td>
                                    </div>
                                </tr>
                                </tbody>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
            <!--            </div>-->
        </section>

    </div>

</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>