<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::navigation"></header>
<h1>HOME</h1>
<main class="p-5 align-content-center bg-blur my-main">
    <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
        <h3 class="mySticky bg-gray text-dark rounded">Home</h3>
        <div th:each="h : ${home}" th:object="${h}" class="mt-3 rounded badge-info">
            <img class="mr-2" src="/img/food.png" alt="Home" width="50px" height="50px">
            <span th:text="|Name: *{name} Price: *{price} lv|"></span>
            <a class=" ml-3 text-danger" th:href="@{/gifts/buy/{id}(id = *{id})}">Buy</a>
        </div>
    </div>
</main>
</body>
</html>