<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>
<main class="p-5 bg-blur text-center my-custom-div my-main">
    <h1 class="text-light border-bottom">Edit Gift</h1>
    <div class="d-flex justify-content-center">
        <form th:object="${giftServiceModel}"
              th:action="@{/pages/admins/edit-gift/{id}(id=*{id})}"
              th:method="PUT"
              enctype="multipart/form-data">

            <div class="form-row m-5">
                <div class="col">
                    <label for="name" class="col-form-label text-light">Gift name</label>
                    <input th:field="*{name}" th:errorclass="alert-danger" name="name" id="name" type="text"
                           class="form-control" placeholder="Gift name">
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="nameError"
                           class="form-text alert-danger rounded">Name must be between 3 and 20
                        characters</small>
                </div>
                <div class="col">
                    <label for="price" class="col-form-label text-light">Price</label>
                    <input th:field="*{price}" th:errorclass="alert-danger" name="price" id="price" type="number"
                           class="form-control" placeholder="Price">
                    <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" id="priceError"
                           class="form-text alert-danger rounded">Price must be positive</small>
                </div>
                <div class="col">
                    <label class="col-form-label text-light">Choose Picture</label>
                    <input th:field="*{pictureTitle}" th:errorclass="alert-danger" type="text" name="title" class="form-control" placeholder="Picture title">
                    <small th:if="${#fields.hasErrors('pictureTitle')}" th:errors="*{pictureTitle}" id="pictureTitleError"
                           class="form-text alert-danger rounded">Picture title length should be between 3 and 20 characters!</small>
                    <input th:field="*{picture}" name="picture" type="file"
                           class="text-center text-light rounded"/><br>
                    <small th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}" id="pictureError"
                           class="form-text alert-danger rounded">Picture cannot be empty!</small>
                </div>
            </div>

            <div class="form-row m-5">
                <div class="col">
                    <label for="description" class="col-form-label text-light">Description</label>
                    <textarea th:field="*{description}" th:errorclass="alert-danger" name="description"
                              id="description"
                              type="text" class="form-control" placeholder="Description"></textarea>
                    <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                           id="descriptionError"
                           class="form-text alert-danger rounded">Description length must be more than 5
                        characters</small>
                </div>
                <div class="col">
                    <label for="category" class="col-form-label text-light">Category</label>
                    <select th:errorclass="alert-danger" name="category" id="category" class="custom-select">
                        <option value="" selected>Select Category</option>
                        <option th:each="c: ${T(com.example.euphoriagifts2.model.entity.enums.CategoryNameEnum).values()}"
                                th:value="${c}" th:text="${c}"></option>
                    </select>
                    <small th:if="${#fields.hasErrors('category')}" th:errors="*{category}" id="categoryError"
                           class="form-text alert-danger rounded">You must select category!</small>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-primary btn-block w-50" type="submit">Edit Gift</button>
            </div>
        </form>
    </div>
</main>
<div th:replace="fragments/commons::footer"></div>
</body>
</html>
