<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>
<main class="p-5 align-content-center bg-blur my-custom-div my-main">
    <div class="d-flex justify-content-center">
        <section class="middle-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive mb-0 bg-light p-4 shadow-sm">
                        <table class="table mb-0">
                            <div class="my-table">
                                <thead class="h5 font-weight-bold">
                                <tr>
                                    <th>User's information</th>
                                    <th class="text-center">Role</th>
                                    <th class="text-center">Manage role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="userEntities-list" th:each="u : *{allUsers}">
                                    <td>
                                        <div class="candidate-list-details">
                                            <div class="candidate-list-info">
                                                <div class="candidate-list-title">
                                                    <h5 class="mb-0 font-weight-bold"><p th:text="*{u.username}"></p></h5>
                                                </div>
                                                <div class="candidate-list-option">
                                                    <ul class="list-unstyled">
                                                        <li th:text="*{u.firstName}"></li>
                                                        <li th:text="*{u.lastName}"></li>
                                                        <li th:text="*{u.email}"></li>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <div class="test">
                                        <td class="candidate-list-favourite-time text-center">
                                                <span class="candidate-list-time order-1" th:each="r : *{u.roles}"
                                                      th:text="|*{r.name} |"></span>
                                        </td>
                                        <td>
                                            <a th:href="@{/pages/admins/change-role/{id}(id=*{u.id})}"
                                               class="card-link text-primary h5 bold">Change<i class="fas fa-edit"></i></a>

                                            <a th:href="@{/pages/admins/delete-role/{id}(id=*{u.id})}"
                                               class="card-link text-danger h5 bold">Delete<i
                                                    class="fas fa-trash"></i></a>

                                        </td>
                                    </div>
                                </tr>
                                </tbody>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </section>

    </div>

</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>